#map{
    height: 400px;
}
footer{
    text-align: center;
    margin: 20px auto;
    background: rgb(5, 127, 209);
    padding: 20px;
 
    color:#fff;
}
footer a{
    color:#fff;
    font-size: 18px;
}

.blue{
    background: #09f;
}
.mi-linkba{
    color:#fff;
}