html,body{
    height: 100%;
    
}
#map{
    height: 400px;
}
footer{
    text-align: center;
    margin: 20px auto;
    background: rgb(5, 127, 209);
    padding: 20px;
 
    color:#fff;
}
footer a{
    color:#fff;
    font-size: 18px;
}

.blue{
    background: #09f;
}
.mi-linkba{
    color:#fff;
}
#info{
    font-size: 18px;
}
.full-screen{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index:100;
    text-align: center;
    background: rgba(250,250,250,0.8);
}